<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css"
          href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve2c9cd6.css">
    <style>

    </style>
    <!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2c9cd6.css">
<![endif]-->
    <script type="text/javascript">
        document.domain = "qq.com";
    </script>

</head>
<body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">

<div id="js_article" class="rich_media">

    <div id="js_top_ad_area" class="top_banner">

    </div>


    <div class="rich_media_inner">
        <div id="page-content">
            <div id="img-content" class="rich_media_area_primary">
                <h2 class="rich_media_title" id="activity-name">
                    {{ title }}
                </h2>
                <div class="rich_media_meta_list">


                    <div id="js_profile_qrcode" class="profile_container" style="display:none;">
                        <div class="profile_inner">
                        </div>
                            <span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
                                <i class="profile_arrow arrow_out"></i>
                                <i class="profile_arrow arrow_in"></i>
                            </span>
                    </div>
                </div>


                <div class="rich_media_content " id="js_content">
                    {% for item in content %}
                        {% if item.content %}
                            <p style="text-indent:2em"{% if item.align %} align={{item.align }}{% endif %}>{{ item.content }}</p>
                        {% endif %}
                        {% if item.img %}
                            <p href={{ item.img }}>这是连接</p>
                        {% endif %}
                    {% endfor %}
                {{ content }}
                </div>


                <div class="rich_media_area_primary sougou" id="sg_tj" style="display:none">

                </div>

                <div class="rich_media_area_extra">


                    <div class="mpda_bottom_container" id="js_bottom_ad_area">

                    </div>

                    <div id="js_iframetest" style="display:none;"></div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

 
